:root {
  --landing-bg-color: #F9D400;
  --left-bg-color: #00BFBF;
  --right-bg-color: #AA4465;
  --top-bg-color: #3AB795;
  --bottom-bg-color: #F49F00;
}

body {
  text-align: center;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.contact-icons {
  margin: 10px 0;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper h1 {
  color: white;
  margin-bottom: 50px;
}

.content-container {
  text-align: left;
  color: white;
  margin: 50px auto;
  width: 60%;
}

.content-container p, .project-description p {
  font-family: 'Roboto Condensed', sans-serif;
}

#landing-wrapper {
  background-color: var(--landing-bg-color);
  opacity: 0.7;
  height: 1000px;
}

#left {
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  left: -80px;
  width: 250px;
}

#right {
  position: absolute;
  top: 50%;
  right: -80px;
  transform: rotate(-90deg);
  width: 250px;
}

#top {
  position: absolute;
  left: 50%;
  transform: translate(-50%) rotate(180deg);
}

#bottom {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-size: 4rem;
  color: #FBF1F1;
  text-shadow: 5px 5px #000;
  margin: 10px 0;
}

.header h2 {

}

.wrapper {
  z-index: 999;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
}

#left-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background-color: var(--left-bg-color);
  top: 0;
}

.nav {
  letter-spacing: 10px;
}

.nav:hover {
  cursor: pointer;
  animation: letter-spacing 0.5s 1 forwards;
}

#left-wrapper.closed {
  animation: slide-left 0.5s forwards;
}

#right-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  background-color: var(--right-bg-color);
  top: 0;
}

#right-wrapper.closed {
  animation: slide-right 0.5s forwards;
}

#bottom-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  background-color: var(--bottom-bg-color);
}

#bottom-wrapper.closed {
  animation: slide-bottom 0.5s forwards;
}

#top-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: var(--top-bg-color);
}

#top-wrapper.closed {
  animation: slide-top 0.5s forwards;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.project-content-container {
  text-align: left;
  color: white;
  margin: 50px auto;
  width: 80%;
}

.project-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;
}

.project-screenshot {
  width: 200px;
  height: 150px;
  cursor: pointer;
}

.project-description {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.project-name {
  margin: 0;
}

@keyframes slide-left {
  100% { left: 0; }
}
@keyframes slide-right {
  100% { right: 0; }
}
@keyframes slide-bottom {
  100% { bottom: 0; }
}
@keyframes slide-top {
  100% { top: 0; }
}

@keyframes letter-spacing {
  100% { letter-spacing: 20px;}
}


